Exercise 1: Variable Assignment and Basic Operations
Create variables to store the following geospatial data:

The latitude and longitude of New York City: 40.7128, -74.0060.

The population of New York City: 8,336,817.

The area of New York City in square kilometers: 783.8.

Perform the following tasks:

Calculate and print the population density of New York City (population per square kilometer).

Print the coordinates in the format “Latitude: [latitude], Longitude: [longitude]”.

In [1]:
latitude = 44.7128
longitude = -74.0060
total_pol_newyork = 8336817
area_newyork = 789.8  # in square kilometers

In [3]:
# Calculate population density
population_density = total_pol_newyork / area_newyork
print("Population density of New York City:", population_density, "people per square kilometer")

Population density of New York City: 10555.60521651051 people per square kilometer

In [4]:
print(f"Latitude: {latitude}, Longitude: {longitude}")

Latitude: 44.7128, Longitude: -74.006

Exercise 2: Working with Strings
Create a string variable to store the name of a city, such as “San Francisco”. Perform the following operations:

Convert the string to lowercase and print the result.

Convert the string to uppercase and print the result.

Replace “San” with “Los” in the city name and print the new string.

In [5]:
city_name = "san francisco"

In [8]:
upper = city_name.upper()
lower = city_name.lower()

In [11]:
print(upper)
print(lower)

SAN FRANCISCO
san francisco

In [12]:
new_city_name = city_name.replace("san", "los")
print(new_city_name)

los francisco

Exercise 3: Using Lists
Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

New York City: (40.7128, -74.0060)

Los Angeles: (34.0522, -118.2437)

Chicago: (41.8781, -87.6298)

Perform the following tasks:

Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.

Print the entire list of cities.

Slice the list to print only the first two cities.

In [76]:
cities = [
    ("New York City", 40.7128, -74.0060),
    ("Los Angeles", 34.0522, -118.2437),
    ("Chicago", 41.8781, -87.6298),
    ("Houston", 29.7604, -95.3698),
]

In [15]:
cities.append(("miami", 25.7617, -80.1918))

In [17]:
cities

[('New York City', 40.7128, -74.006),
 ('Los Angeles', 34.0522, -118.2437),
 ('Chicago', 41.8781, -87.6298),
 ('Houston', 29.7604, -95.3698),
 ('miami', 25.7617, -80.1918)]

In [20]:
cities[:2]  # Display the first two cities

[('New York City', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437)]

Exercise 4: Using Tuples
Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

Access and print the latitude and longitude values from the tuple.

Try to change the latitude value to 48.8585. What happens? Explain why.

In [22]:
eiffel_coordinates = (48.8584, 2.2945)  # Latitude and Longitude of the Eiffel Tower
print(f"Eiffel Tower Coordinates: Latitude {eiffel_coordinates[0]}, Longitude {eiffel_coordinates[1]}")

Eiffel Tower Coordinates: Latitude 48.8584, Longitude 2.2945

In [24]:
eiffel_coordinates[0] = 47.8585  # Attempting to change the latitude (will raise an error)

TypeError: 'tuple' object does not support item assignment

Exercise 5: Working with Sets
Create a set of countries you have visited, such as {“USA”, “France”, “Germany”}. Perform the following tasks:

Add a new country to the set.

Try to add the same country again. What happens?

Print the updated set.

In [80]:
countries = {"USA", "Canada", "France", "Germany"}
countries.add("Spain")  # Adding a new country
print(countries)

{'Spain', 'France', 'Canada', 'Germany', 'USA'}

In [119]:
countries[0] = "Italy"  # Attempting to change the first country (will raise an error)

TypeError: 'set' object does not support item assignment

In [120]:
print(countries)

{'Spain', 'France', 'Canada', 'Germany', 'USA'}

Exercise 6: Working with Dictionaries
Create a dictionary to store information about a specific geospatial feature, such as a river:

Name: “Amazon River”

Length: 6400 km

Countries: [“Brazil”, “Peru”, “Colombia”]

Perform the following tasks:

Add a new key-value pair to the dictionary to store the river’s average discharge (e.g., 209,000 m³/s).

Update the length of the river to 6992 km.

Print the dictionary.

In [29]:
geospatial_data = {
    "Name": "Amazon Rainforest",
    "Length": 6400, # in kilometers
    "Countries": ["brazil", "peru", "colombia", "venezuela"],
}

In [31]:
geospatial_data.update({"rivers average": 209000}) 
geospatial_data

{'Name': 'Amazon Rainforest',
 'Length': 6400,
 'Countries': ['brazil', 'peru', 'colombia', 'venezuela'],
 'rivers average': 209000}

In [32]:
geospatial_data["Length"] = 7000  # Updating the length of the Amazon Rainforest
geospatial_data

{'Name': 'Amazon Rainforest',
 'Length': 7000,
 'Countries': ['brazil', 'peru', 'colombia', 'venezuela'],
 'rivers average': 209000}

Exercise 7: Nested Data Structures
Create a dictionary to represent a city that contains the city’s name, population, and coordinates (latitude, longitude):

Name: “Tokyo”

Population: 13,515,271

Coordinates: (35.6895, 139.6917)

Perform the following tasks:

Access and print the population of the city.

Access and print the city’s latitude.

Update the population to 14,000,000 and print the updated dictionary.

In [33]:
city = {
    "Name": "San Francisco",
    "Population": 883305,
    "Coordinates":(35.6895, 139.6917),  # Latitude and Longitude
    
    }

In [36]:
city["Population"]

883305

In [38]:
city["Coordinates"][0]  # Accessing the latitude

35.6895

In [39]:
city["Population"] = 14000000  # Updating the population
print(city)

{'Name': 'San Francisco', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

Exercise 8: List Operations
Given the list of cities from Exercise 3, perform the following operations:

Sort the list of cities alphabetically by name.

Create a new list that contains only the city names.

Remove the last city from the original list and print the updated list.

In [60]:
new_city = []
for s_city in cities:
    new_city.append(s_city[0])  # Extracting city names

In [100]:
new_list = cities.pop(len(cities)-1)
print(new_list)
print(cities)

('Houston', 29.7604, -95.3698)
[('New York City', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437), ('Chicago', 41.8781, -87.6298)]

Exercise 9: Dictionary Operations
Using the dictionary from Exercise 6, perform the following tasks:

Check if the key “Length” exists in the dictionary.

Print all the keys in the dictionary.

Print all the values in the dictionary.

In [112]:
print(list(geospatial_data.keys()))  # Displaying the keys of the geospatial data dictionary
print(len(geospatial_data.keys()))
print(list(geospatial_data.values()))  # Displaying the values of the geospatial data dictionary

['Name', 'Length', 'Countries', 'rivers average']
4
['Amazon Rainforest', 7000, ['brazil', 'peru', 'colombia', 'venezuela'], 209000]

Exercise 10: Practical Application
Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]
Perform the following tasks:

Create a new list that contains only the names of the locations.

Create a dictionary where the keys are location names and the values are tuples of their coordinates.

Print the latitude of “K2” using the dictionary.

In [113]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]
list_location = []

for location in locations:
    list_location.append(location[0])  # Extracting mountain names
print(list_location)

['Mount Everest', 'K2', 'Kangchenjunga']

In [115]:
dic_locations = {}

for location in locations:
    dic_locations.update({location[0]: (location[1], location[2])})  # Storing mountain names with their coordinates
print(dic_locations)

{'Mount Everest': (27.9881, 86.925), 'K2': (35.8808, 76.5155), 'Kangchenjunga': (27.7025, 88.1475)}

In [117]:
dic_locations["K2"][0]  # Accessing the latitude of K2

35.8808