Exercise 1: Manipulating Geographic Location Strings
Create a string that represents the name of a geographic feature (e.g., "Amazon River").

Convert the string to lowercase and then to uppercase.

Concatenate the string with the name of the country (e.g., "Brazil") to create a full location name.

Repeat the string three times, separating each repetition with a dash (-).

In [2]:
geographical_feature = "Amazon Rainforest"
print(geographical_feature.lower())
print(geographical_feature.upper())

amazon rainforest
AMAZON RAINFOREST

In [6]:
full_location = geographical_feature + " " + "Brazil"
print(full_location)

Amazon Rainforest Brazil

In [12]:
update_geographical_feature = geographical_feature + " " + "-" + " "
print(update_geographical_feature * 3)

Amazon Rainforest - Amazon Rainforest - Amazon Rainforest -

Exercise 2: Extracting and Formatting Coordinates
Given a string with the format "latitude, longitude" (e.g., "40.7128N, 74.0060W"), extract the numeric values of latitude and longitude.

Convert these values to floats and remove the directional indicators (N, S, E, W).

Format the coordinates into a POINT WKT string (e.g., "POINT(-74.0060 40.7128)").

In [25]:
cordinate_string = "40.7128N, 74.0060W"
lat, lon = cordinate_string.split(", ") # Split the string into latitude and longitude
float_lat = float(lat[:len(lat)-1]) #convert to float and remove 'N'
float_lon = float(lon[:len(lon)-1]) #convert to float and remove 'W'
print(float_lat)
print(float_lon)
print(f"POINT ({float_lat}, {float_lon})")

40.7128
74.006
POINT (40.7128, 74.006)

Exercise 3: Building Dynamic SQL Queries
Given a table name and a condition, dynamically build an SQL query string.

Example: If table_name = "cities" and condition = "population > 1000000", the query should be "SELECT * FROM cities WHERE population > 1000000;".

Add additional conditions dynamically, like AND clauses.

In [30]:
poplation_data = [
    {"city": "New York", "population": 8419600},
    {"city": "Los Angeles", "population": 3980400},
    {"city": "Chicago", "population": 2716000},
    {"city": "Houston", "population": 2328000},
    {"city": "Phoenix", "population": 1690000}
]
for city_data in poplation_data:
   if city_data["population"] > 3000000:
      print(city_data)

{'city': 'New York', 'population': 8419600}
{'city': 'Los Angeles', 'population': 3980400}

Exercise 4: String Normalization and Cleaning
Given a list of city names with inconsistent formatting (e.g., [" new york ", "Los ANGELES", "   CHICAGO"]), normalize the names by:

Stripping any leading or trailing whitespace.

Converting them to title case (e.g., "New York", "Los Angeles", "Chicago").

Ensure that the output is a clean list of city names.

In [ ]:
inconsistent = [" new york ", "Los ANGELES", "   CHICAGO"]
consistent = []
for city in inconsistent:
    consistent.append(city.strip())
print(consistent)  # Output: ['New York', 'Los Angeles', 'Chicago']

['new york', 'Los ANGELES', 'CHICAGO']

Exercise 5: Parsing and Extracting Address Information
Given a string in the format "Street, City, Country" (e.g., "123 Main St, Springfield, USA"), write a function that parses the string into a dictionary with keys street, city, and country.

The function should return a dictionary like {"street": "123 Main St", "city": "Springfield", "country": "USA"}.

In [6]:
address = "123 Main St, Springfield, USA"

def extract_address_info(address):
    parts = address.split(", ")
    street = parts[0]
    city = parts[1]
    country = parts[2]
    return {"street": street, "city": city, "country": country}

print(extract_address_info(address))

{'street': '123 Main St', 'city': 'Springfield', 'country': 'USA'}

Exercise 6: Using For Loops to Process Coordinate Lists
Create a list of tuples representing coordinates (latitude, longitude).

Write a for loop that prints each coordinate and indicates whether it is in the Northern or Southern Hemisphere based on the latitude.

In [7]:
coordinates = [
    (40.7128, -74.0060),   # New York City, USA (Northern)
    (-33.8688, 151.2093),  # Sydney, Australia (Southern)
    (51.5074, -0.1278),    # London, UK (Northern)
    (-23.5505, -46.6333),  # SÃ£o Paulo, Brazil (Southern)
    (35.6895, 139.6917),   # Tokyo, Japan (Northern)
    (-1.2921, 36.8219),    # Nairobi, Kenya (Southern)
    (48.8566, 2.3522),     # Paris, France (Northern)
    (-34.6037, -58.3816),  # Buenos Aires, Argentina (Southern)
    (37.7749, -122.4194),  # San Francisco, USA (Northern)
    (-22.9068, -43.1729)   # Rio de Janeiro, Brazil (Southern)
]
for lat, lon in coordinates:
    if lat > 0:
        hemisphere = "Northern"
    else:
        hemisphere = "Southern"
    print(f"Latitude: {lat}, Longitude: {lon} - {hemisphere} Hemisphere")

Latitude: 40.7128, Longitude: -74.006 - Northern Hemisphere
Latitude: -33.8688, Longitude: 151.2093 - Southern Hemisphere
Latitude: 51.5074, Longitude: -0.1278 - Northern Hemisphere
Latitude: -23.5505, Longitude: -46.6333 - Southern Hemisphere
Latitude: 35.6895, Longitude: 139.6917 - Northern Hemisphere
Latitude: -1.2921, Longitude: 36.8219 - Southern Hemisphere
Latitude: 48.8566, Longitude: 2.3522 - Northern Hemisphere
Latitude: -34.6037, Longitude: -58.3816 - Southern Hemisphere
Latitude: 37.7749, Longitude: -122.4194 - Northern Hemisphere
Latitude: -22.9068, Longitude: -43.1729 - Southern Hemisphere

Exercise 7: While Loops for Iterative Processing
Create a list of coordinates (latitude, longitude).

Write a while loop that continues to print each coordinate until it encounters a coordinate with a negative latitude.

Stop the loop once this condition is met.